body {
  background-image: url("triangulos.jpg");
}

.color_base{
	background-color: #B7950B;
}

h1 {
  color: white;
}

.container{
  background-color: black;
  color: white;
}

th, td {
  color: yellow;
}

th {
  background-color: darkolivegreen;
}

#arbol ul, li {
  color: chartreuse;
}