body {
  background-image: url("triangulos.jpg");
}

.color_base{
	background-color: chocolate;
}

h1 {
  color: white;
  text-align: center;
}

.container{
  background-color: black;
  color: white;
}

th {
  color: white;
}

td {
  color: yellow;
}

th {
  background-color: darkolivegreen;
}

#arbol ul, li {
  color: chartreuse;
}

#grafica {
  display: block; 
  margin: 0 auto;
}